<%= turbo_frame_tag word do %>
  <div class="word">
    <div class="word_detail">
      <%= link_to word.name, word_path(word), data: { turbo_frame: "_top" } %>
      <div class="word sound">/wɜːd $ wɜːrd/</div>
      <div class="word explain">a single group of letters that are used together with a particular meaning</div>
    </div>
    <div class="word__actions">
      <%= button_to "Delete",
                    word_path(word),
                    method: :delete,
                    data: { turbo_frame: "_top" },
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  edit_word_path(word),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
