<main class="container">
  <%= link_to sanitize("&larr; Back to word"), word_path(@word) %>

  <div class="header">
    <h1>Edit word</h1>
  </div>

  <%= turbo_frame_tag @word do %>
    <%= render "form", word: @word %>
  <% end %>
</main>