<main class="container" style="overflow-x: hidden">
  <div class="header">
    <h1>My Words</h1>
    <div id="openLayer" class="btn btn--primary" data-controller="toggles" data-action="click->toggles#aiMakeMessage">AI生成</div>
  </div>

  <%= turbo_frame_tag Word.new %>

  <%= turbo_frame_tag "words" do %>
    <%= render @words %>
  <% end %>

  <div id="layer" class="layer">
    <div id="layer-container" class="layer-container">
      <div class="layer-title">
        <h3>AI - MAKE - SENTENCE</h3>
      </div>

      <div id="layerContent" class="layer-content"></div>

      <button id="closeLayer" class="layer-button" data-controller="toggles" data-action="click->toggles#closeLayer">Get Another Joke</button>
    </div>
  </div>
</main>