.word {
  font-size: var(--font-size-xl);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: var(--space-s);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  position: relative;

  transform: translateX(400%);
  transition: transform 1s ease , height 1s ease;

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

  &:nth-of-type(even) {
    transform: translateX(-400%);
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: var(--space-xs);
  }

  &-name {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 200ms;

    &:hover,
    &:focus,
    &:active {
      color: var(--color-primary-rotate);
    }
  }

  &-sound {
    font-size: var(--font-size-s);
    font-weight: 500;
    color: var(--color-text-muted);
    margin-left: 10px;
  }
  &-sound:hover {
    cursor: pointer;
    font-weight: bold;
  }

  &-explain {
    font-size: var(--font-size-s);
    margin-top: 5px;
    display: block;
  }

  &-example {
    font-size: var(--font-size-s);
    margin: 0;
    padding: 0;
    opacity: 80%;
    padding: 5px 10px;
    font-weight: 500;
    display: none;
  }

  & > .toggle {
    position: absolute;
    top: 8px;
    right: 40px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  & > .toggle .fa-times {
    display: none;
  }

  &.active .word-example {
    display: block;
  }

  &.active .toggle .fa-times {
    display: block;
  }

  &.active .toggle .fa-chevron-down {
    display: none;
  }


  &.show {
    transform: translateX(0);
  }

  &__button {
    all: initial;
    color: transparent;
    cursor: pointer;
    margin-right: 15px;
    font-size: 30px;
  }

  &__button:hover {
    color: red;
  }
}
